# BUS 32120, Week 3 HW
# EDA on the Iowa Math and Reading Proficiency dataset

**Introduction:**
The dataset chosen for this assignment is the Math And Reading Proficiency in Iowa by School Year, Public School District and Grade Level. I suspect that the target audience would be stakeholders in the Iowa education system, ranging from teachers and school administrators to district school board members and government budgetary offices. They care about this data because it tells them how math and reading proficiency varies across years, grades, and districts. This information matters for targetted efforts at improving the education system. For example, stakeholders with a pedagogical focus can identify certain grade-levels where math proficiency drops off and analyze how to improve math education at the grade level. Stakeholders who make decisions about funding can choose to allocate resources towards districts where proficiency across the board is lower, in order to have the most impact per dollar spent.

## 1) Import Data & Packages

In [6]:
import pandas as pd
import numpy as np

In [12]:
proficiency = pd.read_csv(r"C:\Users\amyma\Downloads\Math_And_Reading_Proficiency_in_Iowa_by_School_Year,_Public_School_District_and_Grade_Level_20260128.csv")

## 2) Quick Look

In [28]:
proficiency.shape

(67102, 14)

In [30]:
proficiency.columns

Index(['School Year', 'Topic', 'Grade', 'District', 'District Name',
       'Proficient', 'Total', '% Proficient', 'Proficient Category',
       'District Office Location', 'District Office Location (address)',
       'District Office Location (city)', 'District Office Location (state)',
       'District Office Location (zip)'],
      dtype='str')

In [15]:
proficiency.head()

,School Year,Topic,Grade,District,District Name,Proficient,Total,% Proficient,Proficient Category,District Office Location,District Office Location (address),District Office Location (city),District Office Location (state),District Office Location (zip)
0,2015,Reading,8,18,Adair-Casey,13,22,59.1,50.1 - 60%,NaN,NaN,NaN,NaN,NaN
1,2015,Reading,3,3168,IKM-Manning,39,45,86.7,80.1 - 90%,NaN,NaN,NaN,NaN,NaN
2,2016,Reading,4,4572,Murray,15,23,65.2,60.1 - 70%,NaN,NaN,NaN,NaN,NaN
3,2015,Reading,11,18,Adair-Casey,18,25,72.0,70.1 - 80%,NaN,NaN,NaN,NaN,NaN
4,2015,Reading,4,3168,IKM-Manning,34,40,85.0,80.1 - 90%,NaN,NaN,NaN,NaN,NaN

In [13]:
proficiency.info()

<class 'pandas.DataFrame'>
RangeIndex: 68956 entries, 0 to 68955
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   School Year                         68956 non-null  int64
 1   Topic                               68956 non-null  str
 2   Grade                               68956 non-null  int64
 3   District                            68956 non-null  int64
 4   District Name                       68956 non-null  str
 5   Proficient                          67110 non-null  str
 6   Total                               67110 non-null  str
 7   % Proficient                        67102 non-null  float64
 8   Proficient Category                 68956 non-null  str
 9   District Office Location            50126 non-null  str
 10  District Office Location (address)  50126 non-null  str
 11  District Office Location (city)     50126 non-null  str
 12  District Office Location (state)    50126 non-null  str
 13  District Office Location (zip)      50126 non-null  float64
dtypes: float64(2), int64(3), str(9)
memory usage: 7.4 MB

**`value_counts()` to count items in a categorical column**

In [16]:
proficiency.value_counts()

School Year  Topic    Grade  District  District Name                Proficient  Total  % Proficient  Proficient Category  District Office Location            District Office Location (address)  District Office Location (city)  District Office Location (state)  District Office Location (zip)
2014         Reading  5      3029      Howard-Winneshiek            37          61     60.7          60.1 - 70%           POINT (-92.102994733 43.373466402)  1000 Schroder Dr                    Cresco                           Iowa                              52136.0                           1
2010         Math     11     6741      Wall Lake View Auburn        56          73     76.7          70.1 - 80%           POINT (-95.055388227 42.309577099)  801 Jackson                         Lake View                        Iowa                              51450.0                           1
2012         Math     3      981       Carlisle                     105         122    86.1          80.1 - 90%           POINT (-93.490462462 41.498433476)  430 School St                       Carlisle                         Iowa                              50047.0                           1
2014         Math     8      27        Adel-DeSoto-Minburn          109         120    90.8          90.1 - 100%          POINT (-94.01677179 41.610227858)   801 Nile Kinnick Dr S               Adel                             Iowa                              50003.0                           1
2005         Math     4      4572      Murray                       18          23     78.3          70.1 - 80%           POINT (-93.953647488 41.039881776)  216 Sherman                         Murray                           Iowa                              501740187.0                       1
                                                                                                                                                                                                                                                                                                      ..
2011         Reading  11     2124      Estherville Lincoln Central  72          101    71.3          70.1 - 80%           POINT (-94.817770124 43.395142349)  1814 7th Ave S                      Estherville                      Iowa                              51334.0                           1
2007         Reading  8      3033      Hubbard-Radcliffe            20          23     87.0          80.1 - 90%           POINT (-93.301573303 42.304392476)  200 Chestnut                        Hubbard                          Iowa                              50122.0                           1
2003         Math     4      6854      Wayne                        38          46     82.6          80.1 - 90%           POINT (-93.320404615 40.757883329)  102 N Dekalb Street                 Corydon                          Iowa                              50060.0                           1
2012         Math     5      3141      Iowa City                    664         866    76.7          70.1 - 80%           POINT (-91.509737266 41.680405278)  1725 N. Dodge Street                Iowa City                        Iowa                              52245.0                           1
2008         Reading  8      3555      Lawton-Bronson               45          53     84.9          80.1 - 90%           POINT (-96.174799726 42.477274402)  100 Tara Way                        Lawton                           Iowa                              510300128.0                       1
Name: count, Length: 48662, dtype: int64

---------------

## 3) Cleaning Up

**a) Drop rows with missing values** 

For analyzing proficiency outcomes, you’ll often drop rows where % Proficient is missing, or focus on rows where Proficient Category != "Not Reportable" if that’s what missing represents.

Location missingness probably doesn’t affect score analysis unless you’re mapping or doing geography.

In [18]:
proficiency.isna().sum()

School Year                               0
Topic                                     0
Grade                                     0
District                                  0
District Name                             0
Proficient                             1846
Total                                  1846
% Proficient                           1854
Proficient Category                       0
District Office Location              18830
District Office Location (address)    18830
District Office Location (city)       18830
District Office Location (state)      18830
District Office Location (zip)        18830
dtype: int64

In [26]:
proficiency = proficiency.dropna(subset=['% Proficient', 'Proficient'])

In [27]:
proficiency.isna().sum()

School Year                               0
Topic                                     0
Grade                                     0
District                                  0
District Name                             0
Proficient                                0
Total                                     0
% Proficient                              0
Proficient Category                       0
District Office Location              18440
District Office Location (address)    18440
District Office Location (city)       18440
District Office Location (state)      18440
District Office Location (zip)        18440
dtype: int64

**b) Clean messy data** 

In this dataset, Proficient and Total sometimes contain values like "1,531", which must be cleaned before converting to numeric.

In [31]:
proficiency['Proficient'] = proficiency['Proficient'].replace({',': ''}, regex=True).astype(float)

In [32]:
proficiency['Total'] = proficiency['Total'].replace({',': ''}, regex=True).astype(float)

**c) Clean duplicates**

In [34]:
proficiency.duplicated().sum()

np.int64(4627)

In [37]:
##ah, so there are 4627 duplicate rows! let's get rid of those##
proficiency = proficiency.drop_duplicates()

In [38]:
proficiency.duplicated().sum()

np.int64(0)

## 4) Descriptive Statistics

In [40]:
proficiency["Grade"].value_counts()

Grade
4     10193
8      9905
11     9878
3      8085
5      8044
6      7911
7      7845
10      614
Name: count, dtype: int64

In [39]:
proficiency.describe()

,School Year,Grade,District,Proficient,Total,% Proficient,District Office Location (zip)
count,62475.000000,62475.000000,62475.000000,62475.000000,62475.000000,62475.000000,4.866200e+04
mean,2010.739688,6.429228,3656.966451,74.122801,96.547851,77.995963,1.169502e+08
std,3.970736,2.575212,2189.848680,123.097641,174.716587,12.527340,2.148049e+08
min,2003.000000,3.000000,9.000000,0.000000,0.000000,0.000000,5.000200e+04
25%,2008.000000,4.000000,1638.000000,24.000000,31.000000,72.100000,5.058300e+04
50%,2011.000000,6.000000,3715.000000,39.000000,49.000000,79.600000,5.155500e+04
75%,2014.000000,8.000000,5724.000000,70.000000,90.000000,86.100000,5.275400e+04
max,2017.000000,11.000000,7110.000000,1552.000000,2400.000000,100.000000,5.274201e+08

In [45]:
proficiency['% Proficient_bin'] = pd.cut(proficiency['% Proficient'], bins = 3, labels=['low', 'medium', 'high'])
proficiency.head()

,School Year,Topic,Grade,District,District Name,Proficient,Total,% Proficient,Proficient Category,District Office Location,District Office Location (address),District Office Location (city),District Office Location (state),District Office Location (zip),% Proficient_bin
0,2015,Reading,8,18,Adair-Casey,13.0,22.0,59.1,50.1 - 60%,NaN,NaN,NaN,NaN,NaN,medium
1,2015,Reading,3,3168,IKM-Manning,39.0,45.0,86.7,80.1 - 90%,NaN,NaN,NaN,NaN,NaN,high
2,2016,Reading,4,4572,Murray,15.0,23.0,65.2,60.1 - 70%,NaN,NaN,NaN,NaN,NaN,medium
3,2015,Reading,11,18,Adair-Casey,18.0,25.0,72.0,70.1 - 80%,NaN,NaN,NaN,NaN,NaN,high
4,2015,Reading,4,3168,IKM-Manning,34.0,40.0,85.0,80.1 - 90%,NaN,NaN,NaN,NaN,NaN,high

In [46]:
proficiency['% Proficient_bin'].value_counts().sort_index()

% Proficient_bin
low         541
medium     7601
high      54333
Name: count, dtype: int64

## 5) Grouping & Multivariate EDA

I think this dataset is most useful for two purposes: 1) monitoring proficiency outcomes over time, 2) comparing performance across districts and grade levels in Math vs Reading. Thus, I propose the groupbys below help answer:

1. Are outcomes improving over time?
2. Which grades struggle most (and in which subject)?
3. Which districts are highest/lowest (for targeting support or learning from best practices)?

**1. Outcomes over Time**

In [52]:
proficiency.groupby(['School Year', 'Topic'])['% Proficient'].median().sort_index().reset_index()

    School Year    Topic  % Proficient
0          2003     Math         78.90
1          2003  Reading         76.50
2          2004     Math         79.10
3          2004  Reading         76.70
4          2005     Math         81.50
5          2005  Reading         78.30
6          2006     Math         80.00
7          2006  Reading         76.30
8          2007     Math         81.30
9          2007  Reading         78.10
10         2008     Math         80.30
11         2008  Reading         76.50
12         2009     Math         81.30
13         2009  Reading         78.70
14         2010     Math         80.30
15         2010  Reading         77.50
16         2011     Math         81.40
17         2011  Reading         79.60
18         2012     Math         80.85
19         2012  Reading         75.00
20         2013     Math         81.00
21         2013  Reading         75.60
22         2014     Math         84.30
23         2014  Reading         80.00
24         2015     Math         83.90
25         2015  Reading         79.50
26         2016     Math         84.90
27         2016  Reading         76.10
28         2017     Math         82.10
29         2017  Reading         78.60

**2. Grade Level Patterns**

In [51]:
proficiency.groupby(['Grade', 'Topic'])['% Proficient'].mean().sort_values(ascending=False).reset_index()

    Grade    Topic  % Proficient
0      10  Reading     87.193160
1      10     Math     85.856352
2       4     Math     81.912424
3       3     Math     81.573442
4      11     Math     80.739389
5       5     Math     80.244817
6       7     Math     80.112038
7       4  Reading     79.667987
8       5  Reading     78.758742
9       3  Reading     78.706558
10     11  Reading     78.330881
11      6     Math     76.813081
12      8     Math     76.569459
13      8  Reading     72.432216
14      7  Reading     72.401274
15      6  Reading     71.560111

**3. District Comparisons**

In [53]:
proficiency[proficiency['Total'] >= 30].groupby(['District Name', 'Topic'])['% Proficient'].median().sort_values(ascending=False).reset_index()

                           District Name    Topic  % Proficient
0            Denver Comm School District     Math         98.10
1     Turkey Valley Comm School District     Math         96.80
2           Gilbert Comm School District     Math         96.60
3           Gilbert Comm School District  Reading         95.95
4           Treynor Comm School District     Math         94.40
...                                  ...      ...           ...
1305       Columbus Comm School District     Math         53.70
1306    Springville Comm School District     Math         53.30
1307     North Iowa Comm School District  Reading         53.10
1308                         Clarksville  Reading         53.05
1309      Postville Comm School District  Reading         49.00

[1310 rows x 3 columns]

**Extension: Using the transform function to compute a difference from district baseline for each sample**

In [57]:
proficiency.shape

(62475, 17)

In [58]:
grouped_dt = proficiency.groupby(['District Name', 'Topic'])
proficiency['DistrictTopic_Median'] = grouped_dt['% Proficient'].transform('median')
proficiency.head(62475)
proficiency['Diff_From_DistrictTopic_Median'] = proficiency['% Proficient'] - proficiency['DistrictTopic_Median']
proficiency.head(62475)

,School Year,Topic,Grade,District,District Name,Proficient,Total,% Proficient,Proficient Category,District Office Location,District Office Location (address),District Office Location (city),District Office Location (state),District Office Location (zip),% Proficient_bin,DistrictTopic_Median,Diff_From_DistrictTopic_Median
0,2015,Reading,8,18,Adair-Casey,13.0,22.0,59.1,50.1 - 60%,NaN,NaN,NaN,NaN,NaN,medium,72.45,-13.35
1,2015,Reading,3,3168,IKM-Manning,39.0,45.0,86.7,80.1 - 90%,NaN,NaN,NaN,NaN,NaN,high,81.00,5.70
2,2016,Reading,4,4572,Murray,15.0,23.0,65.2,60.1 - 70%,NaN,NaN,NaN,NaN,NaN,medium,75.00,-9.80
3,2015,Reading,11,18,Adair-Casey,18.0,25.0,72.0,70.1 - 80%,NaN,NaN,NaN,NaN,NaN,high,72.45,-0.45
4,2015,Reading,4,3168,IKM-Manning,34.0,40.0,85.0,80.1 - 90%,NaN,NaN,NaN,NaN,NaN,high,81.00,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68951,2011,Reading,11,2124,Estherville Lincoln Central,72.0,101.0,71.3,70.1 - 80%,POINT (-94.817770124 43.395142349),1814 7th Ave S,Estherville,Iowa,51334.0,high,68.50,2.80
68952,2007,Reading,8,3033,Hubbard-Radcliffe,20.0,23.0,87.0,80.1 - 90%,POINT (-93.301573303 42.304392476),200 Chestnut,Hubbard,Iowa,50122.0,high,73.70,13.30
68953,2003,Math,4,6854,Wayne,38.0,46.0,82.6,80.1 - 90%,POINT (-93.320404615 40.757883329),102 N Dekalb Street,Corydon,Iowa,50060.0,high,82.90,-0.30
68954,2012,Math,5,3141,Iowa City,664.0,866.0,76.7,70.1 - 80%,POINT (-91.509737266 41.680405278),1725 N. Dodge Street,Iowa City,Iowa,52245.0,high,78.70,-2.00
68955,2008,Reading,8,3555,Lawton-Bronson,45.0,53.0,84.9,80.1 - 90%,POINT (-96.174799726 42.477274402),100 Tara Way,Lawton,Iowa,510300128.0,high,84.30,0.60

**Conclusion:**
This EDA required some data cleaning and the elimination of certain districts with missing proficiency data. 
Based on our findings from the first grouping, over time, math proficiency improves from the mid/upper 70s in early years to low 80s by the end. Reading also improves, but more slowly and with higher volatility. Interestingly, across nearly every year, Math median proficiency > Reading median proficiency. This suggests that if resources are limited, reading may deserve more targeted attention, but that education quality has improved over time.
The second grouping tells us more about grade patterns. Average proficiency is highest in grade 10, while the most consistent weakness appears in grades 6–8 (especially reading) suggesting middle-grade literacy should be a priority area for Iowa districts and state support.
Finally, in terms of district variance, district median proficiency varies widely across Iowa. Some districts show typical math proficiency above 95%, while others have typical reading proficiency near 50%. This gap suggests meaningful differences in outcomes across districts, highlighting where stakeholders might focus support (e.g. Postville) and where they might study practices for replication (e.g. Denver).
All this being said, I recognize that districts are very different (size, demographics, resources, mobility, etc.). If you only compare raw % Proficient, you often end up just ranking districts. The final table created with the transfomr function can be used by districts to identify when they are nusually high or unusually low compared to its own baseline. This makes it more actionable for more bottoms-up decision-making (e.g. by school administrators or district boards)